%h1.text-center
  Active Projects
  

.row
  .large-9.large-centered.column
  = render 'form'
  %table
    %thead      
      %tr
        %th Name
        %th Subscribed
        %th Last updated
        %th
        %th
    %tbody.projects
      - @projects.each do |project|
        = render "show" , project: project